<?php
	/**
	 * Block Template File.
	 *
     * @package    {{pascaleNamespace}}/{{slugPascalCase}}
     * @since      {{version}}
     * @version    {{version}}
     */

	namespace {{pascaleNamespace}}\{{slugPascalCase}};

	use WP_Block;

	defined( 'ABSPATH' ) || die( 'Keep Silent' );

	/**
	 * The following variables are exposed to the file:
	 *
	 * @global   array    $attributes -  A clean associative array of block attributes.
	 * @global   WP_Block $block      - The block instance. All the block settings and attributes.
	 * @global   string   $content    - The block inner HTML (usually empty unless using inner blocks).
	 *
	 * @see https://github.com/WordPress/gutenberg/blob/trunk/docs/reference-guides/block-api/block-metadata.md#render
	 */

	/**
	 * ${{namespace}}_unique_id = uniqid( 'p-' );
	 */

	${{namespace}}_classes = array(
		'class-01' => true,
	);

	${{namespace}}_styles = array(
		'--css-variable' => $attributes['x'] . '%',
	);

	${{namespace}}_context = $block->context;

	${{namespace}}_wrapper_attributes = get_block_wrapper_attributes(
		array(
			'class' => esc_attr( {{namespaceSnakeCase}}_{{slugSnakeCase}}()->get_blocks()->get_css_classes( $storepress_classes ) ),
			'style' => esc_attr( {{namespaceSnakeCase}}_{{slugSnakeCase}}()->get_blocks()->get_inline_styles( $storepress_styles ) ),
		)
	);

	${{namespace}}_allowed_html = {{namespaceSnakeCase}}_{{slugSnakeCase}}()->get_blocks()->get_kses_allowed_html();
	?>
<div <?php echo wp_kses_data( ${{namespace}}_wrapper_attributes ); ?>>
	<h1>{{title}} - – hello from render.php</h1>
	<div><?php echo wp_kses( $content, ${{namespace}}_allowed_html ); ?></div>
</div>