/**
 * External dependencies
 */
import domReady from '@wordpress/dom-ready';
import { createPluginInstance } from '@storepress/utils';

/**
 * Internal dependencies
 */
import './frontend.scss';

 // Please check: https://emranahmed.github.io/storepress-packages/?path=/docs/utils-plugin-example--docs
import { Plugin } from './utils/Plugin';

domReady(function () {

});
