<?php
/**
 * Common Methods for Classes.
 *
 * @package      {{pascaleNamespace}}/{{slugPascalCase}}
 * @since        {{version}}
 * @version      {{version}}
 */

declare( strict_types=1 );

namespace {{pascaleNamespace}}\{{slugPascalCase}};

defined( 'ABSPATH' ) || die( 'Keep Silent' );

use StorePress\AdminUtils\Common as AdminUtilsCommon;

trait Common {
	use AdminUtilsCommon;
}