<?php
	/**
	 * Utility Functions.
	 *
	 * @package      {{pascaleNamespace}}/{{slugPascalCase}}
	 * @since        {{version}}
	 * @version      {{version}}
	 */

	declare( strict_types=1 );

	namespace {{pascaleNamespace}}\{{slugPascalCase}};

	defined( 'ABSPATH' ) || die( 'Keep Silent' );

	use {{pascaleNamespace}}\{{slugPascalCase}}\Containers\Container;
	use {{pascaleNamespace}}\{{slugPascalCase}}\Services\Blocks;

	/**
	 * Returns the plugin service container instance.
	 *
	 * @return Container
	 * @since {{version}}
	 */
function get_container(): Container {
	return Container::instance();
}

	/**
	 * Returns the Blocks service from the DI container.
	 *
	 * @return Blocks
	 * @since  {{version}}
	 * @see    get_container()
	 */
function get_blocks(): Blocks {
	return get_container()->get( Blocks::class );
}

	/**
	 * Returns the plugin main file path.
	 *
	 * @return string
	 * @since {{version}}
	 */
function get_plugin_file(): string {
	return constant( '{{constantNamespace}}_{{constantSlug}}_PLUGIN_FILE' );
}

	/**
	 * Returns the pro plugin main file path.
	 *
	 * @return string
	 * @since {{version}}
	 */
function get_pro_plugin_file(): string {

	if ( defined( '{{constantNamespace}}_{{constantSlug}}_PLUGIN_PRO_FILE' ) ) {
		return constant( '{{constantNamespace}}_{{constantSlug}}_PLUGIN_PRO_FILE' );
	}

	return '{{slug}}-pro/{{slug}}-pro.php';
}
