<?php
	/**
	 * Utility Functions.
	 *
	 * @package {{pascaleNamespace}}/{{slugPascalCase}}
	 * @since   {{version}}
	 * @version {{version}}
	 */

	namespace {{pascaleNamespace}}\{{slugPascalCase}};

	defined( 'ABSPATH' ) || die( 'Keep Silent' );
