<?php
/**
 * Common Instance for Classes.
 *
 * @package      {{pascaleNamespace}}/{{slugPascalCase}}
 * @since        {{version}}
 * @version      {{version}}
 */

declare( strict_types=1 );

namespace {{pascaleNamespace}}\{{slugPascalCase}};

defined( 'ABSPATH' ) || die( 'Keep Silent' );

trait Singleton {
	/**
	 * Return singleton instance of Class.
	 * The instance will be created if it does not exist yet.
	 *
	 * @return self The main instance.
	 * @since {{version}}
	 */
	public static function instance( ...$args ): self {
		static $instance = null;
		if ( is_null( $instance ) ) {
			$instance = new self( ...$args );
		}

		return $instance;
	}
}
