<?php
	/**
	 * Deactivation Service Provider.
	 *
	 * @package    {{pascaleNamespace}}/{{slugPascalCase}}
	 * @since      {{version}}
	 * @version    {{version}}
	 */

	declare( strict_types=1 );

	namespace {{pascaleNamespace}}\{{slugPascalCase}}\ServiceProviders;

	defined( 'ABSPATH' ) || die( 'Keep Silent' );

	use StorePress\AdminUtils\Abstracts\AbstractServiceProvider;
	use StorePress\AdminUtils\Traits\SingletonTrait;
	use {{pascaleNamespace}}\{{slugPascalCase}}\Containers\Container;
	use {{pascaleNamespace}}\{{slugPascalCase}}\Integrations\DeactivationFeedback;
	use {{pascaleNamespace}}\{{slugPascalCase}}\Traits\PluginUtilityTrait;

	/**
	 * Binds and boots the DeactivationFeedback service.
	 *
	 * @name DeactivationServiceProvider
	 */
class DeactivationServiceProvider extends AbstractServiceProvider {

	use SingletonTrait;
	use PluginUtilityTrait;

	// =====================================================================
	// Service Lifecycle Methods
	// =====================================================================

	/**
	 * Binds the DeactivationFeedback service into the container.
	 *
	 * @return void
	 * @since {{version}}
	 */
	public function register(): void {

		$this->get_container()->register(
			DeactivationFeedback::class,
			function () {
				return DeactivationFeedback::instance();
			} 
		);
	}

	/**
	 * Resolves and activates the DeactivationFeedback service.
	 *
	 * @return void
	 * @since {{version}}
	 */
	public function boot(): void {
		$this->get_container()->get( DeactivationFeedback::class );
	}
}
