<?php
	/**
	 * Settings Service Provider.
	 *
	 * @package    {{pascaleNamespace}}/{{slugPascalCase}}
	 * @since      {{version}}
	 * @version    {{version}}
	 */

	declare( strict_types=1 );

	namespace {{pascaleNamespace}}\{{slugPascalCase}}\ServiceProviders;

	defined( 'ABSPATH' ) || die( 'Keep Silent' );

	use StorePress\AdminUtils\Abstracts\AbstractServiceProvider;
	use StorePress\AdminUtils\Traits\SingletonTrait;
	use {{pascaleNamespace}}\{{slugPascalCase}}\Containers\Container;
	use {{pascaleNamespace}}\{{slugPascalCase}}\Services\Settings;
	use {{pascaleNamespace}}\{{slugPascalCase}}\Traits\PluginUtilityTrait;

	/**
	 * Binds and boots the Settings service.
	 *
	 * @name SettingsServiceProvider
	 */
class SettingsServiceProvider extends AbstractServiceProvider {

	use SingletonTrait;
	use PluginUtilityTrait;

	// =====================================================================
	// Service Lifecycle Methods
	// =====================================================================

	/**
	 * Binds the Settings service into the container.
	 *
	 * @return void
	 * @since {{version}}
	 */
	public function register(): void {

		$this->get_container()->register(
			Settings::class,
			function () {
				return Settings::instance();
			}
		);
	}

	/**
	 * Resolves and activates the Settings service.
	 *
	 * @return void
	 * @since {{version}}
	 */
	public function boot(): void {
		$this->get_container()->get( Settings::class );
	}
}
