<?php
	/**
	 * Settings sidebar template.
	 *
	 * @package    {{pascaleNamespace}}/{{slugPascalCase}}
	 * @since      {{version}}
	 * @version    {{version}}
	 */

	declare( strict_types=1 );

	namespace {{pascaleNamespace}}\{{slugPascalCase}};

	defined( 'ABSPATH' ) || die( 'Keep Silent' );

	use {{pascaleNamespace}}\{{slugPascalCase}}\Adapters\AdminPage;

	/**
	 * Dynamic Template.
	 *
	 * @global array{instance: AdminPage} $template_data - A clean associative array of template meta data.
	 */
?>

FROM SETTINGS SIDEBAR TEMPLATES
