{
	"$schema" : "https://schemas.wp.org/trunk/block.json",
	"apiVersion" : 3,
	"name" : "{{namespace}}/dynamic-block",
	"version" : "0.1.0",
	"title" : "{{pascaleNamespace}} Dynamic Block",
	"category" : "{{category}}",
	"icon" : "sticky",
	"description" : "{{pascaleNamespace}} Dynamic Block Description",
	"attributes" : {
		"x" : {
			"type" : "number",
			"default" : 100
		},
		"y" : {
			"type" : "number",
			"default" : 100
		},
		"id" : {
			"type" : "integer",
			"default" : 0
		},
		"parent" : {
			"enum" : [
				"popup",
				"slider"
			],
			"default" : "popup"
		},
		"tooltipPosition" : {
			"type" : "string",
			"default" : "bottom"
		},
		"tooltipWidth" : {
			"type" : "number",
			"default" : 300
		},
		"isOpenedDefault" : {
			"type" : "boolean",
			"default" : false
		}
	},
	"supports" : {
		"html" : false
	},
	"textdomain" : "{{textdomain}}",
	"editorScript" : "file:./index.js",
	"editorStyle" : "file:./index.css",
	"style" : "file:./style-index.css",
	"viewScript" : ["file:./view.js", "{{kebabNamespace}}-{{kebabSlug}}-frontend-script"],
	"viewStyle" : ["file:./view.css", "{{kebabNamespace}}-{{kebabSlug}}-frontend-style"],
	"render" : "file:./render.php"
}
