@charset "UTF-8";

/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use "~@wordpress/base-styles/colors";

.wp-block-{{namespace}}-dynamic-block {
	border: 2px solid colors.$alert-red;
}
