<?php
	/**
	 * Service Container.
	 *
	 * @package    {{pascaleNamespace}}/{{slugPascalCase}}
	 * @since      {{version}}
	 * @version    {{version}}
	 */

	declare( strict_types=1 );

	namespace {{pascaleNamespace}}\{{slugPascalCase}}\Containers;

	defined( 'ABSPATH' ) || die( 'Keep Silent' );

	use StorePress\AdminUtils\ServiceContainers\ServiceContainer;
	use StorePress\AdminUtils\Traits\SingletonTrait;

	/**
	 * Plugin service container.
	 *
	 * @name Container
	 */
class Container extends ServiceContainer {
	use SingletonTrait;
}
