<?php
	/**
	 * Service Providers Bootstrap.
	 *
	 * @package    {{pascaleNamespace}}/{{slugPascalCase}}
	 * @since      {{version}}
	 * @version    {{version}}
	 */

	declare( strict_types=1 );

	namespace {{pascaleNamespace}}\{{slugPascalCase}}\Core;

	defined( 'ABSPATH' ) || die( 'Keep Silent' );

	use StorePress\AdminUtils\ServiceProviders\ServiceProviderLoader;
	use StorePress\AdminUtils\Traits\SingletonTrait;

	/**
	 * Registers and boots all plugin service providers.
	 *
	 * @name Bootstrap
	 */
class Bootstrap extends ServiceProviderLoader {

	use SingletonTrait;
}
