*** {{title}} ***

{{todayDate}} - version {{version}}
* Added - Useful new feature
* Fixed - Important bug fix
* New - New feature added
* Update - Updated a thing
* Delete - Deleted a feature
* Tweak - Tweak a feature
* Developer - Information for developer

{{todayDate}} - version {{version}}
* Fixed a bug

{{todayDate}} - version {{version}}
* Initial release
