{
	"compilerOptions": {
		"baseUrl": ".",
		"paths": {
			"@plugins": [ "src/plugins/Plugin" ],
			"@block-support": [ "src/utils/BlockSupport" ]
		},
        "jsx": "react"
	},
	"exclude": [ "node_modules", "build", "vendor" ]
}
