<?xml version="1.0"?>
<ruleset name="Plugin">
	<description>Rules for the Plugin</description>

	<file>./</file>
	<!-- Exclude paths -->
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/languages/*</exclude-pattern>
	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/bin/*</exclude-pattern>
	<exclude-pattern>*/\.*</exclude-pattern>

	<!-- Show progress, show the error codes for each message (source). -->
	<arg value="ps"/>

	<!-- Strip the filepaths in reports down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Only scan PHP files. -->
	<arg name="extensions" value="php"/>

	<arg name="colors"/>

	<!-- Check up to 8 files simultaneously. -->
	<arg name="parallel" value="8"/>

	<arg name="encoding" value="utf-8"/>

	<!-- Set the memory limit to 256M.
	 For most standard PHP configurations, this means the memory limit will temporarily be raised.
	 Ref: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#specifying-phpini-settings
    -->
	<ini name="memory_limit" value="256M"/>

	<!-- Configs -->
	<config name="minimum_supported_wp_version" value="6.1"/>

	<!-- Check for cross-version support for PHP 7.4 and higher. -->
	<config name="testVersion" value="7.4-"/>

	<!-- Check for PHP cross-version compatibility. -->
	<rule ref="PHPCompatibilityWP">
		<include-pattern>*\.php$</include-pattern>
	</rule>

	<!-- Rules -->

	<!--
	To get the optimal benefits of using WPCS, we should add a couple of
	custom properties. Adjust the values of these properties to fit our needs.
	For information on additional custom properties available, check out
	the wiki:
	https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties
	-->
	<rule ref="WordPress-Core"/>
	<rule ref="WordPress-VIP-Go"/>
	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName"/>
	</rule>
	<rule ref="WooCommerce-Core"/>
	<!-- Let's also check that everything is properly documented. -->
	<rule ref="WordPress-Docs"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="{{textdomain}}"/>
				<element value="default"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="{{namespace}}"/>
				<element value="{{pascaleNamespace}}"/>
				<element value="{{constantNamespace}}"/>
			</property>
		</properties>
	</rule>

	<!-- We'd rather use native functions -->
	<rule ref="WordPress.WP.AlternativeFunctions">
		<properties>
			<property name="exclude" type="array">
				<element value="json_encode"/>
				<element value="rand"/>
			</property>
		</properties>
	</rule>
</ruleset>
