parameters:

	# Editor
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
	editorUrlTitle: '%%relFile%%:%%line%%'

	# Rules
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: false

	# Configuration
	level: 6
	phpVersion:
		min: 70400
		max: 80400
	bootstrapFiles:
		- {{slug}}.php
	paths:
		- {{slug}}.php
		- includes/
	scanDirectories:
		# - ../woocommerce
#	ignoreErrors:
#		# https://phpstan.org/user-guide/ignoring-errors#ignoring-in-configuration-file
#		- identifier: missingType.generics