<?php
	/**
	 * Uninstall Plugin File.
	 *
	 * Deletes all plugin settings.
	 *
	 * @package    {{namespacePascalCase}}\{{slugPascalCase}}
	 * @since      {{version}}
	 * @version    {{version}}
	 */

	declare( strict_types=1 );

	namespace {{namespacePascalCase}}\{{slugPascalCase}};

	defined( 'ABSPATH' ) || die( 'Keep Silent' );

	defined( 'WP_UNINSTALL_PLUGIN' ) || die( 'Keep Silent' );
